<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211231070853-hdn302f21e0t2dsaoptei7036qeqgkac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211231070853-hdn302f21e0t2dsaoptei7036qeqgkac</string>
	<key>API_KEY</key>
	<string>AIzaSyDNtWWQE0tb98iVIeXVMUtE7PHya-R-Z-U</string>
	<key>GCM_SENDER_ID</key>
	<string>211231070853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hasarel.CafeManager</string>
	<key>PROJECT_ID</key>
	<string>nibmcafe-6dfa8</string>
	<key>STORAGE_BUCKET</key>
	<string>nibmcafe-6dfa8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211231070853:ios:8c151394d1904f4503a7ec</string>
</dict>
</plist>